// ----------------------------------------------------------------------------
// variables de couleurs
// ----------------------------------------------------------------------------
    $color-primary   : #18181B;
    $color-secondary : #F0380F;
    $color-white     : #FFFFFF;
    $color-lightGrey : #F3F3F3;
    $color-black     : #000000;

// ----------------------------------------------------------------------------
// Partiel Typography:
// ----------------------------------------------------------------------------
    $line-height-base   : 1.5; 
    $line-height-title  : 1.154; 


