html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    scroll-behavior: smooth;
}
body {
    color: $color-primary;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: $color-primary;
}
textarea {
    resize: none;
}
